        *{
	margin: 0;
	padding: 0;
}
#profile{
	margin-top: 10rem;
	width: 200px;
}
#tools > img{
	width: 80px;
	background-color: gray;
	margin: 0.3rem;
	border: 5px solid;
	border-radius: 30%;
}
#info{
	color: azure;
}
#profileName{
	color: white;
	font-style: bold;
	font-family: 'Staatliches', cursive;
	
}
#profileName > h1{
	font-size: 70px;
	color: #00adb5;
}
#proj{
	background-color: #39a6a3;
}
#proj h1{
	color: white;
}

#tools{
	color: black;
	background-color: #046582;
}
#contact{
	color: black;
}
.banner{
	background-image: url("./images/wallpaper.jpg");
	background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
	min-height: 100vh;
}
label{
	color: white;
	font-weight: bold;
	font-size: larger;
}
#iconContact{
	color: white;
}
#contact{
	color: white;
}
#contact h1{
	font-family: 'Staatliches', cursive;
	font-size: 90px;
	color: white;
}

#contactInfo{
	margin-bottom: 5rem;
}
#intro p{
	color: white;
	font-size: 2.2vw;
}
#intro h1{
	color: #94d0cc;
	font-size: 8vw;
}
#intro{
	font-family: 'Staatliches', cursive;
  text-align: left;
}
#imgContainer{
	width: 96%;
  max-width: 960px;
  margin: 0 auto
}
#intrologo{
	width: 100%;
	height: auto;
}
#introbgc{
	background-color: #046582;
}
#projectSection h1{
	font-family: 'Staatliches', cursive;
	font-size: 80px;
}
#tools h1{
	font-family: 'Staatliches', cursive;
	font-size: 90px;
	margin-bottom: 5rem;
}
.facebook {
	text-align: center;
}
